<div class="leaderbaord-dialog">
    <h2 mat-dialog-title>Classement</h2>
    <mat-form-field>
        <mat-select placeholder="Mode"
                    (selectionChange)="onModeChangedHandler()"
                    [(ngModel)]="mode">
            <mat-option value="tirettes">Tirettes</mat-option>
            <mat-option value="gram-class">Classes</mat-option>
            <mat-option value="silhouettes">Silhouettes</mat-option>
            <mat-option value="chains">Chaînes</mat-option>
        </mat-select>
    </mat-form-field>
    <div mat-dialog-content>
        <div class="ranks-wrapper">
            <app-loading-spinner app-loading-control key="leaderboard"></app-loading-spinner>
            <div app-loading-control key="leaderboard" [reverse]="true" class="ranks">
                <app-alert type="warning" *ngIf="(leaderboard$ | async).length == 0">
                    Aucun score pour le mode de jeu sélectionné!
                </app-alert>
                <div class="rank" *ngFor="let rank of leaderboard$ | async; let i = index;">
                    <div class="rank-number">
                        {{ i + 1 }}
                    </div>
                    <div class="rank-nickname">
                        {{ rank.Nickname }}
                    </div>
                    <div class="rank-score">
                        {{ rank.Score }}
                    </div>
                    <div class="rank-action">
                        <button (click)="ban(rank)"
                                matTooltip="Censurer le pseudo (remplace par un nom de Power Ranger!)">
                            <mat-icon>favorite</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="close()">Fermer</button>
    </div>
</div>
