/* ----------------------------------------------------------- *
 |
 |  Leaderboard dialog styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;
@import '../../../../../../resources/scss/variables';

.ranks-wrapper {
  min-width: 300px;
}

.rank {
  align-items: center;
  display: flex;
  max-width: 100%;
  min-width: 300px;
  padding: 10px 0;

  &:nth-child(odd) {
    background: map-get(mat.$m2-grey-palette, 200);
  }

  > div {
    padding: 0 10px;
  }

  .rank-nickname {
    flex: 1;
  }

  button {
    background: none;
    border: none;
    border-radius: 5px;
    color: map-get(mat.$m2-pink-palette, 300);
    font-size: 1.1rem;
    outline: none;
    padding-top: 5px;
    vertical-align: middle;

    &:hover {
      color: map-get(mat.$m2-pink-palette, 700);
    }
  }
}
