/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.exercise-dialog {
  width: 350px;

  mat-checkbox {
    display: block;
    height: 40px;
  }
}
