<div class="chain-dialog">
    <h2 mat-dialog-title>Chaîne</h2>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-select multiple placeholder="Cas" [(ngModel)]="selectedCases">
                <mat-option [value]="null">
                    Aucun
                </mat-option>
                <mat-option [value]="c" *ngFor="let c of cases">
                    {{ c.getDisplayLabel() }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
        <button mat-button (click)="validate()" color="primary">Valider</button>
    </div>
</div>
