<div class="view view-vcenter view-login">
    <app-block display="inline-block" class="auth-box">
        <div class="auth-box-brand">
            <app-brand-header></app-brand-header>
        </div>
        <h1>Connectez-vous</h1>
        <p>Pas encore de compte? <a routerLink="/register">Créez-en un</a></p>
        <app-loading-spinner app-loading-control key="login"></app-loading-spinner>
        <div app-loading-control key="login" [reverse]="true">
            <app-alert type="negative" *ngIf="hasError">Connexion échouée, la combinaison utilisateur / mot de passe
                n'est pas valide.
            </app-alert>
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="form form-vertical">
                <mat-form-field>
                    <input matInput type="text" formControlName="username" placeholder="Adresse e-mail"
                           autocomplete="username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" formControlName="password" placeholder="Mot de passe"
                           autocomplete="password">
                </mat-form-field>
                <div class="form-action">
                    <button mat-button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">
                        Connexion
                    </button>
                </div>
                <div class="login-box-help">Vous ne parvenez pas à vous connecter?<br/>
                    Envoyez un mail à <a href="mailto:info@lafamillegram.ch">hello&#64;lafamillegram.ch</a> pour
                    recevoir de
                    l'aide!
                </div>
            </form>
        </div>
    </app-block>
</div>
