/* ----------------------------------------------------------- *
 |
 |  Login view
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.view-login {
}

.view-login-brand {
  position: absolute;
}

.login-box-help {
  font-size: 80%;
  margin-top: 10px;
}
