/* ----------------------------------------------------------- *
 |
 |  Pane styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;
@import '../../../resources/scss/variables';
@import '../../../resources/scss/scrollbars.mixin';

:host {
  display: flex;
}

::ng-deep {
  .pane {
    background: lighten($color-gram-primary, 10%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 1px;

    button {
      background: none;
      border: none;
      outline: none;
    }

    ul {
      @include scrollbar(rgba(255, 255, 255, .15), rgba(255, 255, 255, .25), rgba(255, 255, 255, .5));
      margin: 10px 0;
      min-height: 300px;
      overflow-y: auto;
      padding: 0;

      li {
        overflow: hidden;
        padding: 3px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;

        button {
          border-radius: 5px;
          color: rgba($color-gram-primary-text, 0.8);
          display: block;
          overflow: hidden;
          padding: 8px 12px;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;

          &:focus,
          &:hover {
            background: lighten($color-gram-primary, 5%);
            cursor: pointer;
          }

          &:active {
            background: $color-gram-primary;
          }

          &.is-selected {
            background: lighten($color-gram-primary, 20%);
          }
        }
      }

      span {
        float: right;
      }

      mat-icon {
        font-size: 100%;
        height: auto;
        width: auto;
      }
    }
  }

  .pane-head {
    background: darken($color-gram-primary, 5%);
    border-bottom: 1px solid darken($color-gram-primary, 8%);
    color: white;
    font: 1.3rem/1.1 'Rubik', sans-serif;
    padding: 10px 15px;

    h2 {
      line-height: 1.2;
      margin-bottom: 0;
      font-weight: 100;
    }

    h2 span {
      color: map-get(mat.$m2-amber-palette, 200);
    }
  }

  .pane-controls {
    align-items: center;
    background: darken($color-gram-primary, 5%);
    display: flex;
    height: 45px;
    margin-bottom: 10px;
    padding: 5px;

    button {
      border-radius: 5px;
      color: $color-gram-secondary;
      padding-top: 3px;

      &:focus,
      &:active,
      &:hover {
        background: $color-gram-primary;
      }
    }
  }
}
