<div class="word-dialog">
    <h2 mat-dialog-title>{{ grammaticalClass?.Name + ':' }} {{ word?.Value }}</h2>
    <div mat-dialog-content>
        <app-alert type="warning" *ngIf="isLastTirette">
            <span class="fa fa-exclamation-triangle"></span> Vous ajoutez un mot dans la dernière tirette de la phrase,
            n'ajoutez pas de point!
        </app-alert>
        <mat-form-field>
            <input matInput placeholder="Mot" [(ngModel)]="word.Value">
        </mat-form-field>
        <div *ngIf="grammaticalClass.RequireGender">
            <h4>Genre</h4>
            <mat-checkbox *ngFor="let wrapper of grammaticalGenders" [(ngModel)]="wrapper.IsSelected">
                {{ wrapper.Attribute.getDisplayLabel() }}
            </mat-checkbox>
            <hr/>
        </div>
        <div *ngIf="grammaticalClass.RequireNumber">
            <h4>Nombre</h4>
            <mat-checkbox *ngFor="let wrapper of grammaticalNumbers" [(ngModel)]="wrapper.IsSelected">
                {{ wrapper.Attribute.getDisplayLabel() }}
            </mat-checkbox>
            <hr/>
        </div>
        <div *ngIf="grammaticalClass.RequirePerson">
            <h4>Personne</h4>
            <mat-checkbox *ngFor="let wrapper of grammaticalPersons" [(ngModel)]="wrapper.IsSelected">
                {{ wrapper.Attribute.getDisplayLabel() }}
            </mat-checkbox>
            <hr/>
        </div>
        <div *ngIf="grammaticalCases && grammaticalCases.length > 0">
            <h4>Cas</h4>
            <mat-checkbox *ngFor="let wrapper of grammaticalCases" [(ngModel)]="wrapper.IsSelected">
                {{ wrapper.Attribute.getDisplayLabel() }}
            </mat-checkbox>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
        <button mat-button (click)="validate()" color="primary">Valider</button>
    </div>
</div>
