/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.word-dialog {
  min-width: 350px;

  mat-checkbox {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
