<div class="view view-dashboard">
    <h1>Bienvenue dans votre <strong>tableau de bord</strong></h1>
    <div class="row">
        <div class="col-sm-6">
            <app-block>
                <h2>Dernières activités sur les phrases</h2>
                <app-loading-spinner app-loading-control key="activities"></app-loading-spinner>
                <div app-loading-control key="activities" [reverse]="true">
                    <ng-container *ngIf="sentencesActivities$ | async as sentencesActivity">
                        <p *ngIf="sentencesActivity.length == 0">Aucune activité pour le moment!</p>
                        <ul class="dashboard-activity-log list list-styled">
                            <li *ngFor="let activity of sentencesActivity">
                                <small>{{ activity.Date | date: 'medium' }}</small>
                                <strong>{{ activity.Student }}</strong> a terminé l'exercice
                                <strong>{{ activity.Exercise.name }}</strong> sur le
                                mode
                                <strong>{{ activity.Mode }}</strong> avec un taux d'erreur de
                                <strong>{{ activity.ErrorRate }}%</strong>.
                                <a [routerLink]="['/workspace/activity/details/', activity.Id]"><span
                                        class="fa fa-arrow-circle-right"></span></a>
                            </li>
                        </ul>
                    </ng-container>
                </div>
            </app-block>
        </div>
        <div class="col-sm-6">
            <app-block>
                <h2>Dernières activités sur les substituts</h2>
                <app-loading-spinner app-loading-control key="substitutes-activities"></app-loading-spinner>
                <div app-loading-control key="substitutes-activities" [reverse]="true">
                    <ng-container *ngIf="substitutesActivities$ | async as substituteActivity">
                        <p *ngIf="substituteActivity.length == 0">Aucune activité pour le moment!</p>
                        <ul class="dashboard-activity-log list list-styled">
                            <li *ngFor="let activity of substituteActivity">
                                <small>{{ activity.Date | date: 'medium' }}</small>
                                <strong>{{ activity.Student }}</strong> a terminé l'exercice
                                <strong>{{ activity.Exercise.name }}</strong> avec un taux de complétion de
                                <strong>{{ activity.CompletionRate }}%</strong>.
                                <a [routerLink]="['/workspace/substitutes/activity/', activity.Exercise.id, 'details', activity.Id]"><span
                                        class="fa fa-arrow-circle-right"></span></a>
                            </li>
                        </ul>
                    </ng-container>
                </div>
            </app-block>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <app-block class="dashboard-help-box">
                <h2>Nouveau dans la famille Gram?</h2>
                <div class="dashboard-help-logo">
                    <img src="/assets/images/logo-icon.png" alt="Logo Famille Gram"/>
                </div>
                <a mat-button mat-flat-button color="primary"
                   href="https://docs.google.com/document/d/1P4SaMS7wr_WxtARR4k2ZGxKiB9OEElBQ-vhLrDaqxk0"
                   target="_blank">
                    <span class="fas fa-book"></span> Commencer</a>
            </app-block>
        </div>
    </div>
</div>
