/* ----------------------------------------------------------- *
 |
 |  Dashboard styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import '../../../../resources/scss/variables';

.view-dashboard {
  padding: 20px;

  h1 {
    margin-bottom: 20px;

    strong {
      border-bottom: 5px solid $color-gram-primary;
      padding-bottom: 4px;
    }
  }
}

.dashboard-help-box {
  max-width: 400px;
  text-align: center;
}

.dashboard-help-logo {
  margin-bottom: 25px;

  img {
    max-width: 150px;
  }
}

.dashboard-activity-log {
  small {
    margin-right: 7px;
  }

  strong {
    color: $color-gram-primary;
  }
}
