/* ----------------------------------------------------------- *
 |
 | Buttons
 |
 | Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import "variables";

.alert {
  padding: .75rem 1rem;
}

.alert-warning {
  background: $color-warning;
  margin-bottom: .5rem;
}
