/* ----------------------------------------------------------- *
 |
 | Buttons
 |
 | Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import 'variables';

.button-clean {
  background: transparent;
  border: none;
  color: $color-gram-primary;
  display: inline;
  outline: none;
  margin-bottom: 10px;
  padding: 0;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}
