/* ----------------------------------------------------------- *
 |
 |  Forms
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.form-vertical mat-form-field {
  width: 100%;
}

.form-action {
  text-align: right;
}

.language-selector {
  .mat-mdc-select-placeholder,
  mat-option.mat-mdc-option {
    font-size: .9rem !important;
  }

  .mat-mdc-select-value,
  .mat-mdc-select-arrow,
  .mat-mdc-select-placeholder {
    color: white !important;
  }

  .mat-mdc-text-field-wrapper {
    background: none !important;
    padding: 0 !important;
  }

  .mat-mdc-select-arrow-wrapper {
    transform: translateY(-2px) !important;
  }

  .mat-mdc-form-field-infix {
    align-items: center;
    display: flex;
    border-top: 0;
    height: 45px;
    min-height: auto;
    padding: 0;
    width: 150px;
  }

  .mdc-line-ripple,
  label {
    display: none !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
