/* ----------------------------------------------------------- *
 |
 | Labels
 |
 | Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import 'variables';

.label {
  background: $color-gram-primary;
  border-radius: 4px;
  color: $color-gram-primary-text;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0 5px;
  line-height: 1rem;
  padding: 3px 6px;
}

.label-light {
  background: $color-light;
  color: $color-dark;
}

.label-medium {
  background: $color-medium;
  color: white;
}

.label-dark {
  background: $color-dark;
  color: $color-light;
}
