/* ----------------------------------------------------------- *
 |
 |  Lists
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;

.list {
}

.list-horizontal li {
  display: inline-block;
}

.list-no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-styled {
  background: white;
  list-style-type: none;
  margin: 15px 0;
  overflow-y: auto;
  padding-left: 0;

  li {
    padding: 10px 15px;

    &:nth-child(odd) {
      background: map-get(mat.$m2-grey-palette, 50);
    }
  }
}
