/* ----------------------------------------------------------- *
 |
 |  Base and global styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import 'variables';

.optional {
  color: $color-medium;
  font-size: 75%;
  font-style: italic;
}

.language-line {
  align-items: center;
  display: flex;
  gap: .25rem;
}

.language-icon {
  height: auto;
  width: 15px;
}

.auth-box {
  max-width: 400px;
  position: relative;
}

.auth-box-brand {
  position: absolute;
  bottom: calc(100% + 20px);
  left: 0;
  right: 0;
}
