/* ----------------------------------------------------------- *
 |
 |  Scrollbars styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

@mixin scrollbar($track, $thumb, $thumbHover) {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $track;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb;
    border-radius: 2px;

    &:hover {
      background: $thumbHover;
    }
  }
}
