/* ----------------------------------------------------------- *
 |
 |  Snackbar styles. We are forced to put them here because we
 |  cannot style from the component itself.
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import 'variables';

.snackbar-negative {
  background: $color-negative;
  color: $color-negative-text;
}

.snackbar-positive {
  background: $color-positive;
  color: $color-positive-text;
}
