/* ----------------------------------------------------------- *
 |
 |  Tables
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;
@import 'variables';

.table {
  width: 100%;

  th,
  td {
    padding: 10px 15px;
  }

  th {
    background: lighten($color-gram-primary, 13%);
    color: $color-gram-primary-text;
    font-weight: normal;
  }
}

.table-stripped {
  tr {
    &:nth-child(odd) {
      background: map-get(mat.$m2-grey-palette, 50);
    }
  }
}
