/* ----------------------------------------------------------- *
 |
 |  Utils
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.va {
  display: table;
  width: 100%;
}

// aligns
.va-middle,
.va-bottom {
  display: table-cell;
}

.va-middle {
  vertical-align: middle;
}

.va-bottom {
  vertical-align: bottom;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-justify {
  text-align: justify;
}
