/* ----------------------------------------------------------- *
 |
 |  Variables
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;

$color-gram-primary: #673ab7;
$color-gram-primary-text: white;

$color-gram-secondary: #ffd90e;
$color-gram-secondary-text: white;

$color-negative: #dc3545;
$color-negative-text: #ffffff;

$color-warning: #ffc107;
$color-warning-text: #ffffff;

$color-positive: #28a745;
$color-positive-text: #ffffff;

$color-light: map-get(mat.$m2-grey-palette, 200);
$color-medium: map-get(mat.$m2-grey-palette, 500);
$color-dark: map-get(mat.$m2-grey-palette, 800);
