/* ----------------------------------------------------------- *
 |
 |  Tables
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import 'variables';
@import 'scrollbars.mixin';

.view-content {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;

  > div {
    @include scrollbar(rgba(0, 0, 0, .15), rgba(0, 0, 0, .25), rgba(0, 0, 0, .5));
    overflow-y: auto;
  }
}

.view-2cols {
  display: flex;
  min-height: 100vh;
}

.view-main {
  width: calc(100% - 250px);
}

.view-vcenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.tabs-group {
  background: $color-gram-primary;
  width: 100%;

  button {
    background: none;
    border: none;
    color: $color-gram-primary-text;
    outline: none;
    padding: 1rem .75rem;

    &:hover,
    &:active,
    &.active {
      background: $color-gram-secondary;
      color: rgba(0, 0, 0, .85);
    }
  }
}
