/* ----------------------------------------------------------- *
 |
 |  Register view
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.view-register {
  text-align: center;
}

.register-box {
  text-align: left;

  h1, p {
    text-align: center;
  }
}
