<div class="view view-vcenter view-register">
    <app-block display="inline-block" class="auth-box register-box">
        <div class="auth-box-brand">
            <app-brand-header></app-brand-header>
        </div>
        <h1>Créer un compte</h1>
        <p>Vous avez déjà un compte? <a routerLink="/login">Connectez-vous</a></p>
        <app-loading-spinner app-loading-control key="register"></app-loading-spinner>
        <div app-loading-control key="register" [reverse]="true">
            <form [formGroup]="registerForm" (ngSubmit)="register()" class="form form-vertical">
                <app-alert *ngIf="errors?.length > 0" type="negative">
                    <ul>
                        <li *ngFor="let error of errors">
                            {{ error }}
                        </li>
                    </ul>
                </app-alert>
                <mat-form-field>
                    <input matInput type="text" formControlName="username" placeholder="Adresse e-mail"
                           autocomplete="username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" formControlName="password" placeholder="Mot de passe"
                           autocomplete="password">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" formControlName="passwordRepeat" placeholder="Répétez"
                           autocomplete="password">
                </mat-form-field>
                <div class="form-action">
                    <button mat-button mat-flat-button color="primary" type="submit" [disabled]="!registerForm.valid"
                            class="btn btn-default">
                        Créer le compte
                    </button>
                </div>
            </form>
        </div>
    </app-block>
</div>
