<div class="view view-languages">
    <app-toolbar>
        <ng-container title>
            Langues
        </ng-container>
        <ng-container controls>
            <button matTooltip="Nouvelle langue" (click)="new()">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button matTooltip="Exporter" (click)="export()">
                <mat-icon>open_in_new</mat-icon>
            </button>
            <button matTooltip="Importer" (click)="import()">
                <mat-icon>download</mat-icon>
            </button>
        </ng-container>
    </app-toolbar>

    <div class="tabs-group">
        <button [class.active]="uiState.tab == 'fromApp'" (click)="selectTab('fromApp')">Langues intégrées</button>
        <button [class.active]="uiState.tab == 'edit'" (click)="selectTab('edit')">Edition</button>
    </div>

    <ng-container *ngIf="uiState.tab == 'fromApp'">
        <div class="languages-main">
            <div class="languages-source-selection">
                <mat-form-field floatLabel="always">
                    <mat-label>Langue</mat-label>
                    <mat-select placeholder="Langues intégrées" (selectionChange)="onLanguageChangedHandler($event)">
                        <mat-option [value]="null">Langues intégrées</mat-option>
                        <mat-option [value]="language" *ngFor="let language of languages$ | async">
                            <div class="language-line">
                                <img class="language-icon" src="/assets/images/flags/{{language.Flag}}"/>
                                {{ language.Name }}
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button color="primary"
                        matTooltip="Copier"
                        (click)="copy()">
                    Copier
                </button>
            </div>

            <ng-container
                    *ngTemplateOutlet="languageForm; context: {language: languageTemplate, readonly: true}"></ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="uiState.tab == 'edit'">
        <div class="languages-main">
            <ng-container
                    *ngTemplateOutlet="languageForm; context: {language: language, readonly: false}"></ng-container>
        </div>
    </ng-container>

    <ng-template let-language="language" let-readonly="readonly" #languageForm>
        <div class="languages-form" *ngIf="language">
            <div class="languages-list">
                <div class="row">
                    <div class="col-6">
                        <div class="language-attribute">
                            <h2>Général</h2>
                            <div class="languages-block">
                                <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Nom"
                                               (input)="onFieldUpdatedHandler()"
                                               [(ngModel)]="language.Name"
                                               [disabled]="readonly">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Code"
                                               (input)="onFieldUpdatedHandler()"
                                               [(ngModel)]="language.Code"
                                               [disabled]="readonly">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Drapeau"
                                               (input)="onFieldUpdatedHandler()"
                                               [(ngModel)]="language.FlagCode"
                                               [disabled]="readonly">
                                    </mat-form-field>
                                    <app-flag [file]="language.Flag"></app-flag>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Modes de jeu</mat-label>
                                        <mat-select [(ngModel)]="language.AvailableModes"
                                                    (selectionChange)="onFieldUpdatedHandler()"
                                                    [disabled]="readonly"
                                                    multiple>
                                            <mat-option *ngFor="let mode of modes" [value]="mode">
                                                {{ mode }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="language-attribute">
                            <h2>Genres</h2>
                            <ul>
                                <li *ngFor="let gender of language.Genders">
                                    <app-languages-line [value]="gender.getValue()"
                                                        [label]="gender.getDisplayLabel()"
                                                        [readonly]="readonly"
                                                        (onRemove)="removeGender(gender)"></app-languages-line>
                                </li>
                            </ul>
                            <app-languages-add *ngIf="!readonly" (onAdd)="addGender($event)"></app-languages-add>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="language-attribute">
                            <h2>Nombres</h2>
                            <ul>
                                <li *ngFor="let number of language.Numbers">
                                    <app-languages-line [value]="number.getValue()"
                                                        [label]="number.getDisplayLabel()"
                                                        [readonly]="readonly"
                                                        (onRemove)="removeNumber(number)"></app-languages-line>
                                </li>
                            </ul>
                            <app-languages-add *ngIf="!readonly" (onAdd)="addNumber($event)"></app-languages-add>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="language-attribute">
                            <h2>Cas</h2>
                            <ul>
                                <li *ngFor="let _case of language.Cases">
                                    <app-languages-line [value]="_case.getValue()"
                                                        [label]="_case.getDisplayLabel()"
                                                        [readonly]="readonly"
                                                        (onRemove)="removeCase(_case)"></app-languages-line>
                                </li>
                            </ul>
                            <app-languages-add *ngIf="!readonly" (onAdd)="addCase($event)"></app-languages-add>
                        </div>
                    </div>
                </div>

                <div class="language-attribute">
                    <h2>Classes grammaticales</h2>
                    <ul>
                        <li *ngFor="let _class of language.Classes">
                            <app-languages-line [value]="_class.Id" [label]="_class.Name"
                                                [readonly]="readonly"
                                                [editable]="true"
                                                (onRemove)="removeClass(_class)"
                                                (onEdit)="editClass(_class)">
                                <app-languages-class-line [cls]="_class"></app-languages-class-line>
                            </app-languages-line>
                        </li>
                    </ul>
                    <div class="align-right">
                        <button *ngIf="!readonly"
                                mat-button color="primary"
                                matTooltip="Ajouter"
                                type="submit"
                                (click)="newClass()">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="language-attribute">
                    <h2>Fonctions syntaxiques</h2>
                    <ul>
                        <li *ngFor="let _function of language.Functions">
                            <app-languages-line [value]="_function.Id" [label]="_function.Name"
                                                [readonly]="readonly"
                                                [editable]="true"
                                                (onRemove)="removeFunction(_function)"
                                                (onEdit)="editFunction(_function)">
                                <app-languages-class-line [cls]="_function"></app-languages-class-line>
                            </app-languages-line>
                        </li>
                    </ul>
                    <div class="align-right">
                        <button *ngIf="!readonly"
                                mat-button color="primary"
                                matTooltip="Ajouter"
                                type="submit"
                                (click)="newFunction()">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
