/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import 'variables';

.languages-main {
  padding: 1rem;
}

.languages-form {

  .languages-block, ul {
    border: 2px solid $color-gram-primary;
    border-radius: 4px;
    margin: 0 0 1rem 0;

    &:empty {
      padding: 1rem;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: .25rem;

      &:not(:last-child) {
        margin-bottom: .25rem;
      }

      &:nth-child(odd) {
        background: $color-light;
      }
    }
  }

  .languages-block {
    padding: 1rem;
  }
}

.language-attribute {
  margin-bottom: 1rem;

  h2 {
    margin-bottom: .5rem;
  }
}
