/* ----------------------------------------------------------- *
 |
 |  View's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;
@import '../../../../../../resources/scss/variables';

.sentence-save {
  // TODO: check why this needs the important instruction
  margin-top: -15px !important;
}

.view-sentence-caption {
  background: map-get(mat.$m2-grey-palette, 100);
  font-weight: 300;
  padding: 15px;

  ul {
    margin-bottom: 0;
  }
}

.sentence-tirettes-controls {
  margin-bottom: 15px;
}

.sentence-structure {
  align-items: center;
  background: map-get(mat.$m2-grey-palette, 100);
  display: flex;
  overflow-x: auto;
  margin-bottom: 15px;
  position: relative;
  z-index: 20;
}

.sentence-structure-inner {
  background: map-get(mat.$m2-grey-palette, 200);
  display: flex;
  min-height: 200px;
  margin-bottom: 40px;
}

.sentence-structure-empty {
  font-size: 2rem;
  line-height: 1.454;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

.sentence-tirette {
  background: map-get(mat.$m2-grey-palette, 200);
  border-right: 1px solid;
  min-width: 150px;
  padding-bottom: 40px;
  position: relative;
  white-space: nowrap;

  &:last-child {
    border-right: none;
  }

  > button {
    @include mat.elevation(6);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -18px;

    &:hover {
      @include mat.elevation(12);
    }
  }
}

.sentence-tirette-add {
  background: grey;
  height: 100%;
  width: 50px;
}

.sentence-tirette-remove,
.sentence-tirette-edit {
  bottom: 7px;
  color: map-get(mat.$m2-grey-palette, 300);
  float: right;
  position: absolute;

  &:hover {
    cursor: pointer;
  }
}

.sentence-tirette-remove {
  right: 7px;

  &:hover {
    color: map-get(mat.$m2-red-palette, 400);
  }
}

.sentence-tirette-edit {
  left: 7px;

  &:hover {
    color: map-get(mat.$m2-deep-orange-palette, 400);
  }
}

.sentence-tirette-class {
  color: white;
  font-size: 0.9rem;
  padding: 5px 3px;
  position: relative;
  text-align: center;
  transition: transform 0.15s ease;
  z-index: 100;

  &:hover {
    cursor: move;
    transform: scale(1.1, 1.1);
    z-index: 200;
  }
}

.sentence-tirette-chain {
  color: white;
  border-bottom: 1px solid;
  font-weight: 100;
  height: 25px;
  text-align: center;
}

.word-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    font-weight: 300;
    overflow-y: auto;
    padding: 5px 7px;

    &:nth-child(odd) {
      background: map-get(mat.$m2-grey-palette, 50);
    }
  }
}

.word-edit {
  color: map-get(mat.$m2-grey-palette, 300);
  float: right;
  font-size: 0.8rem;
  margin-top: 8px;

  &:hover {
    cursor: pointer;
  }
}

.word-remove {
  color: map-get(mat.$m2-grey-palette, 300);
  vertical-align: middle;

  &:hover {
    cursor: pointer;
    color: map-get(mat.$m2-red-palette, 400);
  }
}

.chains {
  background: map-get(mat.$m2-grey-palette, 100);
  padding: 15px;

  mat-icon[matTooltip]:hover {
    cursor: help;
  }
}

.chains-list {
  align-items: center;
  display: flex;
}

@mixin chain($color-palette) {
  &.sentence-tirette {
    border-right-color: map-get($color-palette, 500);
  }

  &.chain-label,
  .sentence-tirette-class {
    background: map-get($color-palette, 500);
  }

  .sentence-tirette-chain {
    background: map-get($color-palette, 400);
    border-bottom-color: map-get($color-palette, 500);
  }

  &.chain-label {
    color: white;
  }
}

.chain-label {
  border: none;
  border-radius: 5px;
  display: inline-block;
  line-height: 1.15;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 2px 6px;
  text-align: center;

  &.chain-control {
    background: map-get(mat.$m2-grey-palette, 200);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      cursor: pointer;
      background: map-get(mat.$m2-grey-palette, 400);
    }
  }

  small {
    font-style: italic;
  }

  > mat-icon {
    vertical-align: bottom;
  }
}

.chain-null {
  @include chain(mat.$m2-grey-palette);
}

.chain-1 {
  @include chain(mat.$m2-green-palette);
}

.chain-2 {
  @include chain(mat.$m2-deep-orange-palette);
}

.chain-3 {
  @include chain(mat.$m2-blue-palette);
}

.chain-4 {
  @include chain(mat.$m2-pink-palette);
}

.chain-5 {
  @include chain(mat.$m2-amber-palette);
}
