<div class="view view-sentence view-content" *ngIf="sentence">
    <app-toolbar backLink="/workspace/exercises">
        <ng-container title>
            {{ sentence?.Name }}
        </ng-container>
        <ng-container controls>
            <button (click)="save()" matTooltip="Sauvegarder la phrase">
                <mat-icon>save</mat-icon>
            </button>
            <button (click)="edit()" matTooltip="Editer la phrase">
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="addTirette()" matTooltip="Ajouter une tirette">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button (click)="generateSolutions()" matTooltip="Aperçu des solutions">
                <mat-icon>check_circle_outline</mat-icon>
            </button>
        </ng-container>
    </app-toolbar>
    <app-loading-spinner app-loading-control key="exercise"></app-loading-spinner>
    <div app-loading-control key="exercise" [reverse]="true">
        <div class="sentence-structure">
            <div class="sentence-structure-empty" *ngIf="!sentence.Tirettes || sentence.Tirettes.length == 0">
                <div class="va">
                    <div class="va-middle">
                        Il n'y a aucune tirette pour cette phrase.
                    </div>
                </div>
            </div>
            <div class="sentence-structure-inner" dragula="first-bag" [(dragulaModel)]="sentence.Tirettes">
                <div class="sentence-tirette chain-{{tirette.Chain?.Number}}"
                     [ngClass]="{'chain-null': !tirette.Chain}"
                     *ngFor="let tirette of sentence.Tirettes;let i = index;">
                    <div class="sentence-tirette-class handle">
                        {{ tirette.GrammaticalClass?.Name }}
                    </div>
                    <div class="sentence-tirette-chain">{{ tirette.Chain?.Name }}</div>
                    <ul class="word-list" [dragula]="'bag-' + i" [(dragulaModel)]="tirette.Words">
                        <li *ngFor="let word of tirette.Words">
                            <mat-icon class="word-remove" (click)="removeWordFrom(word, tirette)">delete</mat-icon>
                            {{ word.Value }}
                            <mat-icon class="word-edit" [matTooltip]="word.Footprint" (click)="editWord(word,tirette)">
                                edit
                            </mat-icon>
                        </li>
                    </ul>
                    <button (click)="addWordTo(tirette)" matTooltip="Ajouter un mot" color="accent" mat-mini-fab>
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-icon class="sentence-tirette-edit" (click)="editTirette(tirette)"
                              matTooltip="Editer la tirette">
                        edit
                    </mat-icon>
                    <mat-icon class="sentence-tirette-remove" (click)="removeTirette(tirette)"
                              matTooltip="Supprimer la tirette">delete
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="chains">
            <h2>Chaînes d'accord
                <mat-icon matTooltip="1 chaîne au minimum, 5 au maximum" color="primary">info</mat-icon>
            </h2>
            <div class="chains-list">
                <span *ngIf="sentence.Chains.length > 1" class="chain-label chain-control" (click)="removeChain()"><mat-icon>remove</mat-icon></span>
                <button (click)="editChain(chain)" *ngFor="let chain of sentence.Chains;let i = index"
                        class="chain-label chain-{{i + 1}}">
                    {{ chain.Name }}
                    <span *ngFor="let c of chain.Cases"><br/><small>{{ c }}</small></span>
                </button>
                <span *ngIf="sentence.Chains.length < maxChains" class="chain-label chain-control"
                      (click)="addChain()"><mat-icon>add</mat-icon></span>
            </div>
        </div>
    </div>
</div>
