/* ----------------------------------------------------------- *
 |
 |  Toolbar styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;
@import '../../../resources/scss/variables';

::ng-deep {
  .toolbar {
    align-items: stretch;
    color: $color-gram-primary-text;
    display: flex;

    > div {
      width: 100%;
    }
  }

  .toolbar-back {
    background: lighten($color-gram-primary, 5%);
    border: none;
    border-right: 1px solid lighten($color-gram-primary, 10%);
    color: $color-gram-primary-text;
    flex: 0 0 60px;
    outline: none;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
      background: lighten($color-gram-primary, 10%);
    }
  }

  .toolbar-title {
    align-items: center;
    background: lighten($color-gram-primary, 5%);
    border-bottom: 1px solid lighten($color-gram-primary, 10%);
    display: flex;
    font: 1.3rem/1.1 'Rubik', sans-serif;
    gap: .5rem;
    padding: 10px 15px;

    small {
      font-size: 75%;
    }

    mat-icon {
      color: map-get(mat.$m2-deep-purple-palette, 300);
      font-size: 80%;
      height: auto;
      width: auto;

      &:focus,
      &:active,
      &:hover {
        cursor: pointer;
        color: map-get(mat.$m2-deep-purple-palette, 100);
      }
    }
  }

  .toolbar-controls {
    align-items: center;
    background: lighten($color-gram-primary, 5%);
    display: flex;
    gap: .5rem;
    height: 45px;
    padding: 5px 10px;

    button {
      background: none;
      border: none;
      border-radius: 5px;
      color: $color-gram-secondary;
      font-size: 1.25rem;
      outline: none;
      padding-top: 3px;
      vertical-align: middle;

      &:focus,
      &:active,
      &:hover {
        background: $color-gram-primary;
      }
    }
  }
}
