<div class="toolbar">
    <button *ngIf="backLink" class="toolbar-back" [routerLink]="backLink">
        <span class="fa fa-arrow-left"></span>
    </button>
    <div>
        <div class="toolbar-title">
            <ng-content select="[title]"></ng-content>
        </div>
        <div class="toolbar-controls">
            <ng-content select="[controls]"></ng-content>
        </div>
    </div>
</div>
