<div class="exercise-group-dialog">
    <h2 mat-dialog-title>Exercice</h2>
    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <input matInput placeholder="Nom" [(ngModel)]="label">
            </mat-form-field>
        </div>
        <div>
            <label>Couleur</label>
            <div class="exercise-group-colors">
                <button *ngFor="let c of colors"
                        [class.selected]="color == c"
                        [style.background-color]="c"
                        [style.color]="c"
                        (click)="selectColor(c)"></button>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
        <button mat-button
                [disabled]="!label?.trim() || !color?.trim()"
                (click)="validate()" color="primary">Valider
        </button>
    </div>
</div>
