/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.exercise-group-dialog {
  width: 350px;
}

.exercise-group-colors {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;

  button {
    align-items: center;
    border: 2px solid transparent;
    border-radius: 4px;
    display: flex;
    height: 25px;
    justify-content: center;
    outline: none;
    width: 25px;

    &.selected,
    &:hover {
      border: 2px solid rgba(0, 0, 0, .25);
    }

    &.selected {
      border-color: rgba(0, 0, 0, .75);
    }
  }
}
