<span class="label">{{ value }}</span>
<span>{{ label }}</span>
<ng-content></ng-content>
<button mat-button color="warn" (click)="remove()" *ngIf="!readonly">
    <mat-icon>delete</mat-icon>
</button>
<button mat-button color="primary" (click)="edit()" *ngIf="!readonly && editable">
    <mat-icon>edit</mat-icon>
</button>
