/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

:host {
  align-items: center;
  display: flex;

  button {
    margin-left: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity .15s ease;
  }

  &:hover button {
    opacity: 1;
    pointer-events: all;
  }
}
