/* ----------------------------------------------------------- *
 |
 |  Loading spinner
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

:host {
  padding: 20px;
}

mat-spinner {
  margin: auto;
}
