/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

:host {
  display: contents;
}

.language-attribute-add form {
  align-items: center;
  display: flex;
  gap: .5rem;

  mat-form-field {
    flex: 1;
  }
}
