<div class="language-attribute-add">
    <form>
        <mat-form-field><input placeholder="Texte affiché" matInput #label></mat-form-field>
        <mat-form-field><input placeholder="Identifiant" matInput #id></mat-form-field>
        <button mat-button color="primary"
                matTooltip="Ajouter"
                type="submit"
                (click)="add(id.value, label.value); id.value=''; label.value=''">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </form>
</div>
