/* ----------------------------------------------------------- *
 |
 |  Dashboard styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import '../../../../../../resources/scss/variables';

.view-activity {
  display: flex;
  min-height: 100vh;
}

.view-activity-main {
  width: calc(100% - 250px);
}
