<div class="view view-activity">
    <app-pane width="250px">
        <div class="pane-head">
            Exercices
        </div>
        <app-loading-spinner app-loading-control key="exercises"></app-loading-spinner>
        <ul app-loading-control key="exercises" [reverse]="true">
            <li *ngFor="let exercise of exercises$ | async">
                <button (click)="select(exercise)"
                        [ngClass]="{'is-selected': (selectedExercise$ | async)?.Id == exercise.Id}">
                    {{ exercise.Name }}
                </button>
            </li>
        </ul>
    </app-pane>
    <div class="view-activity-main">
        <router-outlet></router-outlet>
    </div>
</div>
