/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import 'variables';

.activity-details-text {
  background: $color-light;
  margin-bottom: 1rem;
  padding: .75rem;

  .highlight {
    background: $color-gram-primary;
    color: $color-gram-primary-text;
  }
}

.activity-details-time {
  align-items: center;
  display: flex;
  gap: .25rem;

  button {
    background: rgba(0, 0, 0, 0.15);
    border: none;
    margin-left: auto;
  }
}

.activity-details-group {
  align-items: center;
  background: var(--color);
  border-radius: 5px;
  display: flex;
  flex: 0 0 125px;
  justify-content: center;
  padding: .25rem .5rem;
  width: 125px;
}

.activity-details-words-group {
  &:not(:last-child) {
    margin-bottom: .5rem;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: .125rem;
  }

  strong {
    padding: 2px;
    display: block;
  }

  span {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: .25rem;
    padding: .15rem .25rem;

    &:hover {
      background: var(--color);
      cursor: pointer;
    }
  }
}

.activity-details-substitutes-group {
  display: flex;
  gap: 1rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.activity-details-input-line td:nth-child(2) {
  width: 100vw;
}
