<div class="activity-detail">
    <app-loading-spinner app-loading-control key="substitutes-activity"></app-loading-spinner>
    <div app-loading-control key="substitutes-activity" [reverse]="true">
        <ng-container *ngIf="activity$ | async as activity">
            <div class="view-content">
                <app-toolbar backLink="../..">
                    <ng-container title>
                        Exercice de {{ activity.Student }}
                    </ng-container>
                </app-toolbar>
                <div class="activity-detail-main">
                    <table class="activity-detail-overview">
                        <tr>
                            <th>Date</th>
                            <td>{{ activity.Date | date:'medium' }}</td>
                        </tr>
                        <tr>
                            <th>Temps passé dans l'exercice</th>
                            <td>{{ activity.Duration | duration }}</td>
                        </tr>
                        <tr>
                            <th>Taux de complétion max.</th>
                            <td>{{ activity.CompletionRate }}%</td>
                        </tr>
                        <tr>
                            <th>Taux d'erreur moyen</th>
                            <td>{{ activity.ErrorRate }}%</td>
                        </tr>
                    </table>
                    <h2>Texte</h2>
                    <div class="activity-details-text">
                        {{ activity.Text }}
                    </div>
                    <h2>Détails</h2>
                    <div class="activity-details">
                        <div class="activity-details-line" [class.folded]="!isVisible(i)"
                             *ngFor="let step of activity.Steps; let i = index">
                            <div class="activity-details-state">
                                <i *ngIf="step.IsCorrect" class="fa fa-check"></i>
                                <i *ngIf="!step.IsCorrect" class="fa fa-times"></i>
                            </div>
                            <div class="activity-details-time">
                                <span class="far fa-clock"></span> {{ step.Time | duration }} - Validation n°{{ i + 1 }}
                                <button (click)="toggleVisibility(i)"><i class="fa fa-caret-down"></i></button>
                            </div>
                            <div class="activity-details-input">
                                <table>
                                    <tbody>
                                    <tr class="activity-details-input-line">
                                        <td>Elève <span class="fa fa-arrow-right"></span></td>
                                        <td>
                                            <div class="activity-details-substitutes-group"
                                                 *ngFor="let group of step.Groups"
                                                 [attr.style]="sanitizer.bypassSecurityTrustStyle('--color: ' + group.Color)">
                                                <div class="activity-details-group">{{ group.Name }}</div>
                                                <div class="activity-details-words">
                                                    <div class="activity-details-words-group"
                                                         *ngIf="group.Correct.length > 0">
                                                        <strong><i class="fa fa-check"></i> Trouvés</strong>
                                                        <div><span
                                                                *ngFor="let word of group.Correct">{{ activity.getWordAt(word) }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="activity-details-words-group"
                                                         *ngIf="group.Wrong.length > 0">
                                                        <strong><i class="fa fa-times"></i> Erreurs</strong>
                                                        <div><span
                                                                *ngFor="let word of group.Wrong">{{ activity.getWordAt(word) }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="activity-details-words-group"
                                                         *ngIf="group.Missing.length > 0">
                                                        <strong><i class="fa fa-question"></i> Manquants</strong>
                                                        <div><span
                                                                *ngFor="let word of group.Missing">{{ activity.getWordAt(word) }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
