<div class="exercise-dialog">
    <h2 mat-dialog-title>Exercice</h2>
    <div mat-dialog-content *ngIf="languages$ | async as languages">
        <div>
            <mat-form-field>
                <input matInput placeholder="Nom de l'exercice" [(ngModel)]="name">
            </mat-form-field>
        </div>
        <ng-container *ngIf="isNew">
            <div>
                <hr/>
                <mat-form-field>
                    <mat-select placeholder="Langue"
                                (selectionChange)="languageChangedHandler()"
                                [(ngModel)]="language">
                        <mat-option [value]="language.Code"
                                    *ngFor="let language of languages">
                            <div class="language-line">
                                <img class="language-icon" src="/assets/images/flags/{{language.Flag}}"/>
                                {{ language.Name }}
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- hardcoded for French language -->
                <ng-container *ngIf="language === 'fr'">
                    <hr/>
                    <h3>Utiliser un modèle <span class="optional">(falcultatif)</span></h3>
                    <p>En sélectionnant un modèle, vous aurez un exercice déjà complet que vous pourrez utiliser tel
                        quel.</p>
                    <mat-form-field>
                        <mat-select placeholder="Modèle" [(ngModel)]="selectedTemplate">
                            <mat-option [value]="null">Aucun</mat-option>
                            <mat-option *ngFor="let template of ( templates$ | async )"
                                        [value]="template">{{ template.Name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </div>
        </ng-container>
        <div>
            <hr/>
            <h3>Classement</h3>
            <mat-checkbox [(ngModel)]="hasLeaderboard">
                Activer
                <mat-icon
                        matTooltip="Si cette option est activée, les élèves peuvent entrer un pseudo à la fin d'une partie et ils peuvent voir un classement global. Ce classement affiche les 10 meilleurs scores de l'exercice uniquement.">
                    help
                </mat-icon>
            </mat-checkbox>
            <hr/>
            <h3>Modes de jeu</h3>
            <mat-checkbox [(ngModel)]="hasTirettes" *ngIf="isAvailable('tirettes')">
                Tirettes
                <mat-icon
                        matTooltip="L'élève doit créer une phrase correcte en alignant des mots.">
                    help
                </mat-icon>
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="hasGramClass" *ngIf="isAvailable('gram-class')">
                Classes grammaticales
                <mat-icon
                        matTooltip="L'élève doit appliquer la bonne classe grammaticale pour chaque mot d'une phrase.">
                    help
                </mat-icon>
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="hasSilhouettes" *ngIf="isAvailable('silhouettes')">
                Silhouettes
                <mat-icon
                        matTooltip="L'élève doit créer une phrase en fonction de la structure grammaticale et d'un panier de mots.">
                    help
                </mat-icon>
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="hasChains" *ngIf="isAvailable('chains')">
                Chaînes d'accord
                <mat-icon
                        matTooltip="L'élève doit grouper les mots en fonction de leur chaîne d'accord.">
                    help
                </mat-icon>
            </mat-checkbox>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
        <button mat-button (click)="validate()" color="primary"
                [disabled]="!name || name == ''|| isNew && (!language || language == '')">Valider
        </button>
    </div>
</div>
