/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

:host {
  display: contents;
}

.language-attribute-class-requirements {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: right;
  margin-left: auto;
}
