<div class="language-attribute-class-requirements">
    <span class="label label-medium" *ngIf="cls.RequireNumber">Nombres</span>
    <span class="label label-medium" *ngIf="cls.RequireGender">Genres</span>
    <span class="label label-medium" *ngIf="cls.RequirePerson">Personnes</span>
    <span class="label label-medium" *ngIf="cls.RequireChain">Chaine</span>
    <span class="label label-medium" *ngIf="cls.RequireCase">Cas</span>
</div>
