<div class="sentence-dialog">
    <h2 mat-dialog-title>Phrase</h2>
    <div mat-dialog-content>
        <form [formGroup]="form">
            <mat-form-field>
                <input matInput formControlName="name" placeholder="Nom de la phrase" [(ngModel)]="name" required>
            </mat-form-field>
            <ng-container *ngIf="hasAdvancedParameters">
                <mat-form-field>
                    <mat-select placeholder="Degré" [(ngModel)]="degree" formControlName="degree">
                        <mat-option value="4H">4H</mat-option>
                        <mat-option value="5H">5H</mat-option>
                        <mat-option value="6H">6H</mat-option>
                        <mat-option value="7H">7H</mat-option>
                        <mat-option value="8H">8H</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Difficulté traitée" [(ngModel)]="difficulty"
                           formControlName="difficulty">
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="isNew && templates.length > 0">
                <hr/>
                <h3>Utiliser un modèle <span class="optional">(falcultatif)</span></h3>
                <app-alert type="light">
                    Sélectionner un modèle pour obtenir une phrase déjà toute faite.
                </app-alert>
                <div class="template-filters">
                    <div class="template-filter"
                         [style.marginLeft]="getStep() * -100 + '%'">
                        <div class="template-filter-title">
                            <span class="template-filter-number">1</span>
                            Choisissez le degré
                        </div>
                        <div class="template-filter-degree">
                            <button mat-button color="primary" (click)="setTplDegree('*')">Tous</button>
                            <button *ngFor="let tplDegree of tplDegrees" mat-button color="primary"
                                    (click)="setTplDegree(tplDegree)">
                                {{ tplDegree }}
                            </button>
                        </div>
                    </div>
                    <div class="template-filter">
                        <div class="template-filter-title">
                            <button class="template-filter-back" (click)="setTplDegree(null)">
                                <mat-icon>arrow_left</mat-icon>
                            </button>
                            <span class="template-filter-number">2</span>
                            {{ tplDegree }} / Choisissez une difficulté
                        </div>
                        <mat-form-field>
                            <mat-select placeholder="Difficulté" formControlName="tplDifficulty"
                                        [(ngModel)]="tplDifficulty">
                                <mat-option value="*">Toutes</mat-option>
                                <mat-option *ngFor="let tplDifficulty of getTplDifficulties()" [value]="tplDifficulty">
                                    {{ tplDifficulty }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="template-filter">
                        <div class="template-filter-title">
                            <button class="template-filter-back" (click)="tplDifficulty = null">
                                <mat-icon>arrow_left</mat-icon>
                            </button>
                            <span class="template-filter-number">3</span>
                            {{ tplDegree }} / {{ tplDifficulty }} / Choissiez une phrase
                        </div>
                        <div class="template-filter-sentence">
                            <div>
                                <mat-form-field>
                                    <mat-select formControlName="template" placeholder="Modèle"
                                                [(ngModel)]="selectedTemplate">
                                        <mat-option [value]="null">Aucun</mat-option>
                                        <mat-option *ngFor="let template of getFilteredTpl()"
                                                    [value]="template">{{ getTemplateName(template) }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <button (click)="copyTplName()" mat-button color="primary">
                                    Copier le nom
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            </ng-container>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
        <button mat-button (click)="validate()" color="primary" [disabled]="!form.valid">Valider</button>
    </div>
</div>
