/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;

.sentence-dialog {
  min-width: 300px;

  mat-form-field {
    width: 100%;
  }
}

.template-filters {
  display: flex;
  overflow: hidden;
}

.template-filter {
  flex: 0 0 100%;

  &:first-child {
    margin-left: 0;
    transition: margin-left 0.25s ease;
  }
}

.template-filter-number {
  align-items: center;
  background: map-get(mat.$m2-amber-palette, 400);
  border-radius: 50%;
  color: white;
  display: inline-flex;
  height: 20px;
  justify-content: center;
  margin-right: 7px;
  width: 20px;
}

.template-filter-title {
  align-items: center;
  display: flex;
  font-weight: bold;
  margin-bottom: 7px;
}

.template-filter-back {
  align-items: center;
  background: none;
  border: none;
  color: map-get(mat.$m2-deep-purple-palette, 600);
  display: inline-block;
  height: 20px;
  justify-content: center;
  padding: 0;
  width: 20px;

  mat-icon {
    height: 20px;
    width: 20px;
  }
}

.template-filter-sentence {
  display: flex;

  > div:first-child {
    flex: 1;
  }
}
