<div class="view view-2cols">
    <app-pane width="250px">
        <div class="pane-head">
            Exercices
        </div>
        <div class="pane-controls">
            <button (click)="newExercise()" matTooltip="Nouvel exercice">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
        <app-loading-spinner app-loading-control key="substitutes-exercises"></app-loading-spinner>
        <ul app-loading-control key="substitutes-exercises" [reverse]="true">
            <li *ngFor="let exercise of exercises$ | async">
                <button [routerLink]="exercise.Id.toString()"
                        [ngClass]="{'is-selected': (selectedExercise$ | async)?.Id == exercise.Id}">
                    {{ exercise.Name }}
                    <span matTooltip="Entrez ce code sur un autre poste pour charger l'exercice"
                          *ngIf="exercise.Code" class="substitutes-code">{{ exercise.Code }}</span>
                </button>
            </li>
        </ul>
    </app-pane>
    <div class="view-main">
        <router-outlet></router-outlet>
    </div>
</div>
