/* ----------------------------------------------------------- *
 |
 |  Dashboard styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import '../../../../../../resources/scss/variables';

.activity-flag {
  height: auto;
  width: 25px;
}

.activity-list ul {
  margin: 0;
}
