<app-loading-spinner app-loading-control key="exercise"></app-loading-spinner>
<ng-container *ngIf="selectedExercise$ | async as exercise">
    <div app-loading-control key="exercise" [reverse]="true">
        <div class="activity-list view-content" *ngIf="loadedActivities$ | async as activities">
            <app-toolbar>
                <ng-container title>
                    <img class="activity-flag" src="/assets/images/flags/{{language?.Flag}}"/>
                    {{ exercise.Name }}
                </ng-container>
            </app-toolbar>
            <div>
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Elève</th>
                        <th>Mode de jeu</th>
                        <th>Durée</th>
                        <th>Taux de complétion</th>
                        <th>Taux d'erreur</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let activity of activities">
                        <td>{{ activity.Date | date:'medium' }}</td>
                        <td>{{ activity.Student }}</td>
                        <td>{{ activity.Mode }}</td>
                        <td>{{ activity.Duration | duration }}</td>
                        <td>{{ activity.CompletionRate }}%</td>
                        <td>{{ activity.ErrorRate }}%</td>
                        <td>
                            <button mat-button mat-flat-button color="primary" (click)="select(activity)">
                                détails
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <app-loading-spinner app-loading-control key="activities"></app-loading-spinner>
                <div app-loading-control key="activities" [reverse]="true">
                    <div class="load-more" *ngIf="hasMore">
                        <button mat-button mat-flat-button color="accent" (click)="loadActivities()">
                            Charger plus
                        </button>
                    </div>
                </div>
                <div app-loading-control key="activities" [reverse]="true">
                    <div class="activity-list-none" *ngIf="activities.length == 0">
                        Aucune activité pour cet exercice.
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
