<app-loading-spinner app-loading-control key="substitutes-exercise"></app-loading-spinner>
<ng-container *ngIf="exercise$ | async as exercise">
    <div class="view-content" app-loading-control key="substitutes-exercise" [reverse]="true">
        <app-toolbar>
            <ng-container title>
                Exercice <small>code: {{ exercise.Code }}</small>
            </ng-container>
            <ng-container controls>
                <button (click)="save()" matTooltip="Sauvegarder">
                    <mat-icon>save</mat-icon>
                </button>
                <button (click)="edit()" matTooltip="Editer">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete()" matTooltip="Supprimer l'exercice">
                    <mat-icon>delete</mat-icon>
                </button>
            </ng-container>
        </app-toolbar>

        <div app-loading-control key="substitutes-exercise" [reverse]="true">
            <div class="tabs-group">
                <button (click)="writeMode()" [class.active]="mode == Modes.Write">
                    <i class="fas fa-font"></i> Rédaction
                </button>
                <button (click)="solutionMode()" [class.active]="mode == Modes.Groups">
                    <i class="fas fa-tags"></i> Solution
                </button>
            </div>
            <div class="exercise-details-main">
                <div class="exercise-details-write" *ngIf="mode == Modes.Write">
                    <div class="exercise-details-write-warning" *ngIf="confirmEdit">
                        <div class="alert alert-warning">
                            <strong>Attention!</strong> Si vous avez déjà entré la solution de l'exercice, vous risquez
                            de
                            devoir la refaire si vous ajoutez ou supprimez des mots.
                        </div>

                        <button mat-button mat-flat-button color="primary" (click)="confirmEdit = false">Editer quand
                            même
                        </button>
                    </div>
                    <textarea [(ngModel)]="exercise.Text">{{ exercise.Text }}</textarea>
                </div>
                <div class="exercise-details-content" *ngIf="mode == Modes.Groups">
                    <div class="exercise-details-groups-container">
                        <div class="exercise-details-groups-title">Groupes</div>
                        <div class="exercise-details-groups">
                            <button *ngFor="let ch of exercise.Groups"
                                    (click)="selectGroup(ch)"
                                    [class.selected]="ch === group"
                                    [style.background]="ch.color">
                                {{ ch.label }}
                            </button>
                        </div>
                        <div class="exercise-details-groups-controls">
                            <button mat-button mat-flat-button
                                    (click)="deleteSelectedGroup()"
                                    *ngIf="group">
                                <i class="fa fa-trash"></i>
                            </button>
                            <button mat-button mat-flat-button (click)="addGroup()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <hr/>
                        <div class="exercise-details-groups-controls">
                            <button mat-button mat-flat-button (click)="clearSolution()">
                                Réinitialiser
                            </button>
                        </div>
                    </div>

                    <div class="exercise-details-text">
                        <h1>{{ exercise.Title }}</h1>
                        <ng-container *ngFor="let paragraph of paragraphs">
                            <p>
                            <span class="exercise-text-group" *ngFor="let group of paragraph.groups">
                                <ng-container *ngFor="let word of group.words">
                                    <span (click)="select(word)"
                                          [class.is-interactable]="word.interactable"
                                          [class.selected]="word.chain != null"
                                          [style.background]="getBackgroundColor(paragraph, word)">{{ word.value }}</span>
                                </ng-container>
                            </span>
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
