/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import '../../../../../resources/scss/variables';

.exercise-details-main {
  --border-radius: 10px;
  margin: 1rem auto;
  max-width: 960px;
  padding: 0 1rem;
}

.exercise-details-write {
  background: #f4f4f4;
  border-radius: var(--border-radius);
  padding: 1rem;
  position: relative;

  textarea {
    background: transparent;
    border: none;
    min-height: min(600px, 60vh);
    line-height: 1.25;
    font-size: 1.1rem;
    width: 100%;
  }
}

.exercise-details-write-warning {
  align-items: center;
  background: rgba(255, 255, 255, .75);
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.exercise-details-content {
  background: #f4f4f4;
  border-radius: var(--border-radius);
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
  line-height: 1.25;
}

.exercise-details-groups-title {
  font-size: .9rem;
  margin-bottom: .5rem;
  font-weight: 500;
  opacity: .5;
}

.exercise-details-groups-controls {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: .5rem;
}

.exercise-details-groups-container {
  background: rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  padding: .5rem;
  flex: 0 0 200px;
}

.exercise-details-groups {
  button:not(.button-clean) {
    border: 3px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    margin-bottom: 5px;
    padding: 0.3rem .6rem;
    transition: transform .25s ease;
    width: 100%;

    &:not(:last-child) {
      margin-right: 7px;
    }

    &.selected,
    &:active,
    &:focus,
    &:hover {
      border-color: rgba(0, 0, 0, .15);
      cursor: pointer;
      outline: none;
    }

    &:active {
      transform: scale(.95);
    }
  }
}

.exercise-details-groups-delete,
.exercise-details-groups-add {
  color: $color-gram-primary;
  font-size: .9rem;
  text-align: center;
  padding: 0;
  width: 100%;
}

.exercise-details-groups-delete {
  color: $color-negative;
}

.exercise-details-text {
  padding: .5rem;
}

.exercise-text-group {
  display: inline-block;
  white-space: nowrap;

  span {
    display: inline-block;
    padding: .25rem 0;
    position: relative;
    white-space: pre-wrap;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:after {
      content: '';
      display: block;
      height: 5px;
      bottom: -5px;
      left: 0;
      position: absolute;
      pointer-events: none;
      right: 0;
    }
  }

  span.is-interactable {
    display: inline-block;
    margin: 1px 0;
    transition: transform .1s ease, background .1s ease;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    &.selected {
      color: white;
    }

    &:active {
      transform: scale(.95);
    }
  }
}
