/* ----------------------------------------------------------- *
 |
 |  Alert component
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;
@import '../../../resources/scss/variables';

:host:not(:last-child) .alert {
  margin-bottom: 12px;
}

.alert {
  padding: 10px 15px;

  ::ng-deep ul {
    padding-left: 23px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.alert-negative {
  background: $color-negative;
  color: $color-negative-text;
}

.alert-warning {
  background: $color-warning;
  color: $color-warning-text;
}

.alert-positive {
  background: $color-positive;
  color: $color-positive-text;
}

.alert-light {
  background: $color-light;
  color: map-get(mat.$m2-grey-palette, 800);
}
