<div class="activity-detail">
    <app-loading-spinner app-loading-control key="activity"></app-loading-spinner>
    <div app-loading-control key="activity" [reverse]="true">
        <ng-container *ngIf="activity$ | async as activity; else none">
            <div class="view-content">
                <app-toolbar backLink="../..">
                    <ng-container title>
                        Exercice de {{ activity.Student }}
                    </ng-container>
                </app-toolbar>
                <div class="activity-detail-main">
                    <table class="activity-detail-overview">
                        <tr>
                            <th>Date</th>
                            <td>{{ activity.Date | date:'medium' }}</td>
                        </tr>
                        <tr>
                            <th>Mode</th>
                            <td>{{ activity.Mode }}</td>
                        </tr>
                        <tr>
                            <th>Temps passé dans l'exercice</th>
                            <td>{{ activity.Duration | duration }}</td>
                        </tr>
                        <tr>
                            <th>Temps d'inactivité<br/><em>attente entre les questions</em></th>
                            <td>{{ activity.getInactiveTime() | duration }}</td>
                        </tr>
                        <tr>
                            <th>Taux de complétion</th>
                            <td>{{ activity.CompletionRate }}%</td>
                        </tr>
                        <tr>
                            <th>Taux d'erreur</th>
                            <td>{{ activity.ErrorRate }}%</td>
                        </tr>
                    </table>
                    <h2>Détails</h2>
                    <div class="activity-details">
                        <div *ngFor="let step of activity.Steps">
                            <h3>
                                <span class="fa fa-caret-square-down"></span> {{ step.Instructions }}
                            </h3>
                            <div class="activity-details-lines">
                                <div class="activity-details-line" *ngFor="let line of step.InputLines; let i = index">
                                    <div class="activity-details-state">
                                    <span class="fa"
                                          [ngClass]="{'fa-times': !line.IsCorrect, 'fa-check': line.IsCorrect}"></span>
                                    </div>
                                    <div class="activity-details-time">
                                        <span class="far fa-clock"></span> {{ line.TimeTaken | duration }}
                                    </div>
                                    <div class="activity-details-input">
                                        <table>
                                            <tbody>
                                            <tr *ngIf="step.GivenLine" class="activity-details-given-line">
                                                <td>Affiché <span class="fa fa-arrow-right"></span></td>
                                                <td *ngFor="let value of step.GivenLine">{{ value }}</td>
                                            </tr>
                                            <tr class="activity-details-input-line">
                                                <td>Elève <span class="fa fa-arrow-right"></span></td>
                                                <td [ngClass]="{'is-incorrect': !block.IsCorrect }"
                                                    *ngFor="let block of line.Blocks">
                                                    {{ block.Input }}
                                                </td>
                                            </tr>
                                            <tr class="activity-details-input-error" *ngIf="!line.IsCorrect">
                                                <td>Erreur <span class="fa fa-arrow-right"></span></td>
                                                <td *ngFor="let block of line.Blocks">
                                                    <ng-container *ngIf="!block.IsCorrect">
                                                    <span *ngFor="let reason of block.Reasons; let i = index">
                                                        {{ reason }}
                                                        <ng-container
                                                                *ngIf="i < block.Reasons.length - 1">,</ng-container>
                                                    </span>
                                                    </ng-container>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="display: none">
                        <h2>Revoir</h2>
                        <iframe #player src="http://localhost:4800/#/replay"></iframe>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #none>
            <p>Vous n'avez sélectionné aucune activité!</p>
            <a routerLink="..">Retour</a>
        </ng-template>
    </div>
</div>
