/* ----------------------------------------------------------- *
 |
 |  Workspace
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import '../../../resources/scss/variables';

$menu-width: 250px;

.view-workspace {
  display: flex;
  min-height: 100vh;
}

.workspace-menu {
  background: $color-gram-primary;
  flex: 0 0 $menu-width;
  padding: 0 7px;

  ul {
    font: 1rem/1.1 'Rubik', sans-serif;

    a {
      border-left: 6px solid transparent;
      border-radius: 5px;
      color: rgba($color-gram-primary-text, 0.7);
      display: block;
      margin-bottom: 3px;
      padding: 13px 9px 13px 6px;
      text-decoration: none;

      span {
        margin-right: 3px;
      }

      &.is-active {
        background: lighten($color-gram-primary, 10%);
        border-left-color: $color-gram-secondary;
        color: white;
      }

      &:focus:not(.is-active),
      &:hover:not(.is-active) {
        background: darken($color-gram-primary, 10%);
        cursor: pointer;
        color: white;
      }

      &:active:not(.is-active) {
        background: darken($color-gram-primary, 20%) !important;
        color: white !important;
      }
    }
  }
}

.workspace-menu-logo {
  margin: 10px 0;
  text-align: center;
}

.workspace-menu-separator {
  border-bottom: 2px solid rgba(255, 255, 255, .025);
  color: rgba(255, 255, 255, .4);
  font-size: .85rem;
  margin: .75rem 0 .5rem 0;

  &:not(:empty) {
    padding: 0 0 .5rem 0;
  }
}

.workspace-main {
  flex: 0 0 calc(100% - #{$menu-width});
  overflow-x: auto;
}
