<div class="view view-workspace">
    <div class="workspace-menu">
        <div class="workspace-menu-logo">
            <img src="../../../assets/images/logo.svg" width="180"/>
        </div>
        <ul class="list list-no-bullets">
            <li>
                <a routerLink="dashboard" routerLinkActive="is-active">
                    <span class="fa fa-home"></span> Tableau de bord
                </a>
            </li>
            <li class="workspace-menu-separator">Phrases</li>
            <li>
                <a routerLink="exercises" routerLinkActive="is-active">
                    <span class="fa fa-dumbbell"></span> Exercices
                </a>
            </li>
            <li>
                <a routerLink="activity" routerLinkActive="is-active">
                    <span class="fa fa-brain"></span> Activités
                </a>
            </li>
            <li class="workspace-menu-separator">Substituts</li>
            <li>
                <a routerLink="substitutes/exercise" routerLinkActive="is-active">
                    <span class="fa fa-random"></span> Exercices
                </a>
            </li>
            <li>
                <a routerLink="substitutes/activity" routerLinkActive="is-active">
                    <span class="fa fa-brain"></span> Activités
                </a>
            </li>
            <li class="workspace-menu-separator"></li>
            <li>
                <a href="https://docs.google.com/document/d/1P4SaMS7wr_WxtARR4k2ZGxKiB9OEElBQ-vhLrDaqxk0"
                   target="_blank">
                    <span class="fas fa-book"></span> Ouvrir l'aide
                </a>
            </li>
            <li>
                <a (click)="logout()">
                    <span class="fa fa-sign-out-alt"></span> Se déconnecter
                </a>
            </li>
        </ul>
    </div>
    <div class="workspace-main">
        <router-outlet></router-outlet>
    </div>
</div>
