<div class="solutions-dialog">
    <h2 mat-dialog-title>{{ solutions.length }} solution(s) trouvée(s)!</h2>
    <div mat-dialog-content>
        <p *ngFor="let solution of solutions">
            <mat-icon color="accent">check</mat-icon>
            {{ solution }}
        </p>
        <p *ngIf="solutions.length == 0">
            Aucune solution trouvée!
        </p>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close="confirm" color="primary">OK</button>
    </div>
</div>
