/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.solutions-dialog {
  mat-icon {
    vertical-align: middle;
  }
}
