/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.language-class-add {
  max-width: 100%;
  width: 600px;
}

.language-class-add-attribute {
  align-items: center;
  display: flex;
  height: 58px;
}
