<div class="language-class-add">
    <h2 mat-dialog-title>Classe / fonction grammaticale</h2>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-6">
                <mat-form-field><input [(ngModel)]="cls.Name" placeholder="Texte affiché" matInput></mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field><input [(ngModel)]="cls.Id" placeholder="Identifiant" matInput></mat-form-field>
            </div>
        </div>
        <hr/>
        <div class="language-class-add-attribute row">
            <div class="col-6">
                <mat-checkbox [(ngModel)]="cls.RequireNumber">Nombres</mat-checkbox>
            </div>
            <div class="col-6">
                <mat-form-field *ngIf="!cls.RequireNumber">
                    <input [(ngModel)]="cls.DefaultNumber" placeholder="Valeur par défaut" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="language-class-add-attribute row">
            <div class="col-6">
                <mat-checkbox [(ngModel)]="cls.RequirePerson">Personnes</mat-checkbox>
            </div>
            <div class="col-6">
                <mat-form-field *ngIf="!cls.RequirePerson">
                    <input [(ngModel)]="cls.DefaultPerson" placeholder="Valeur par défaut" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="language-class-add-attribute row">
            <div class="col-6">
                <mat-checkbox [(ngModel)]="cls.RequireGender">Genres</mat-checkbox>
            </div>
            <div class="col-6">
                <mat-form-field *ngIf="!cls.RequireGender">
                    <input [(ngModel)]="cls.DefaultGender" placeholder="Valeur par défaut" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="language-class-add-attribute row">
            <div class="col-6">
                <mat-checkbox [(ngModel)]="cls.RequireCase">Cas</mat-checkbox>
            </div>
            <div class="col-6">
                <mat-form-field *ngIf="!cls.RequireCase">
                    <input [(ngModel)]="cls.DefaultCase" placeholder="Valeur par défaut" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="language-class-add-attribute row">
            <div class="col-6">
                <mat-checkbox [(ngModel)]="cls.RequireChain">Chaine</mat-checkbox>
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
        <button mat-button (click)="add()" color="primary">Valider</button>
    </div>
</div>
