/* ----------------------------------------------------------- *
 |
 |  Component's styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */

.tirettes-dialog-separator {
  display: inline-block;
  font-weight: bold;
  padding: 0 15px;
}
