<div>
    <h2 mat-dialog-title>Tirette</h2>
    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <mat-select placeholder="Classe grammaticale" [(ngModel)]="tirette.GrammaticalClass"
                            (selectionChange)="onClassChangedHandler($event)">
                    <mat-option *ngFor="let cls of grammaticalClasses" [value]="cls">
                        {{ cls.Name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <span class="tirettes-dialog-separator">ou</span>

            <mat-form-field>
                <mat-select placeholder="Fonction syntaxique" [(ngModel)]="tirette.GrammaticalClass"
                            (selectionChange)="onClassChangedHandler($event)">
                    <mat-option *ngFor="let cls of grammaticalFunctions" [value]="cls">
                        {{ cls.Name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="tirette.GrammaticalClass?.RequireChain">
            <mat-form-field>
                <mat-select placeholder="Chaîne d'accord" [(ngModel)]="tirette.Chain">
                    <mat-option *ngFor="let chain of chains;let i = index" [value]="chain">
                        {{ chain.Name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button color="positive" (click)="addChain()">ajouter</button>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
        <button mat-button (click)="validate()" color="primary" *ngIf="isValid()">Valider</button>
    </div>
</div>
