/* ----------------------------------------------------------- *
 |
 |  Shared CSS
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;

@import '../variables';
@import 'scrollbars.mixin';

.load-more {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.activity-list-none {
  background: $color-light;
  font-style: italic;
  padding: 2rem;
  text-align: center;
}

.activity-detail {
  h1 strong {
    border-bottom: 5px solid $color-gram-primary;
    padding-bottom: 4px;
  }

  iframe {
    border: none;
    display: block;
    aspect-ratio: 16/9;
    width: 100%;
  }
}

.activity-detail-overview {
  margin-bottom: 15px;

  tr {
    border-bottom: 1px solid $color-light;
  }

  th, td {
    padding: 3px 8px;
  }

  th {
    background: map-get(mat.$m2-gray-palette, 100);
    font-weight: normal;
  }
}

.activity-detail-main {
  padding: 20px;
}

.activity-details h3 {
  background: map-get(mat.$m2-gray-palette, 700);
  color: $color-light;
  margin-bottom: 0;
  padding: 10px 15px;
}

.activity-details-line {
  align-items: stretch;
  display: flex;
  margin: 5px 0;
  padding-top: 24px;
  position: relative;

  &:last-child {
    border-bottom: none;
  }
}

.activity-details-line.folded {
  .activity-details-state,
  .activity-details-input {
    display: none;
  }
}

.activity-details-state {
  align-items: center;
  background: $color-light;
  display: flex;
  padding: 0 5px;

  .fa-times,
  .fa-check {
    border-radius: 6px;
    display: inline-block;
    padding: 6px 0;
    text-align: center;
    width: 24px;
  }

  .fa-times {
    background: $color-negative;
    color: $color-negative-text;
  }

  .fa-check {
    background: $color-positive;
    color: $color-positive-text;
  }
}

.activity-details-time {
  background: $color-light;
  border-radius: 0 2px 2px 0;
  color: $color-dark;
  font-size: 0.8rem;
  font-weight: bold;
  left: 0;
  padding: 2px 9px 2px 6px;
  position: absolute;
  right: 0;
  top: 0;
}

.activity-details-input {
  table {
    border-collapse: separate;
    border-spacing: 4px 8px;
  }

  th {
    color: $color-dark;
    font-style: italic;
    font-weight: normal;
    padding: 6px;
  }

  td {
    padding: 6px;

    &:first-child {
      background: lighten($color-light, 5%);
      font-style: italic;
      min-width: 80px;

      .fa {
        color: darken($color-light, 10%);
        float: right;
        margin-top: 4px;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &.is-incorrect {
      background: $color-negative;
      color: $color-negative-text;
    }

    &.empty {
      background: transparent;
    }
  }
}

.activity-details-input-line {
  td {
    background: $color-light;
  }
}

.activity-details-input-error {
  td:not(:first-child) {
    color: $color-negative;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0;
    text-align: center;
  }
}
