/* ----------------------------------------------------------- *
 |
 |  Block component
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@import '../../../resources/scss/variables';

.block {
  border: 2px solid $color-light;
  border-radius: 8px;
  margin-bottom: 15px;
}

.block-padded {
  padding: 15px 20px;
}

.block-light {
}
