<div class="confirm-dialog">
    <h2 mat-dialog-title>Confirmation</h2>
    <div mat-dialog-content>
        {{ message }}
        <br/>
        Voulez-vous continuer?
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close="cancel">Annuler</button>
        <button mat-button mat-dialog-close="confirm" color="primary">Oui</button>
    </div>
</div>
