<div class="exercise-dialog">
    <h2 mat-dialog-title>Exercice</h2>
    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <input matInput placeholder="Nom de l'exercice" [(ngModel)]="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Titre du texte" [(ngModel)]="title">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Annuler</button>
        <button mat-button
                [disabled]="!name?.trim() || !title?.trim()"
                (click)="validate()" color="primary">Valider
        </button>
    </div>
</div>
