/* ----------------------------------------------------------- *
 |
 |  Exercises styles
 |
 |  Author : David Hofer [david@dna-studios.ch]
 |
 * ----------------------------------------------------------- */
@use '@angular/material' as mat;
@import '../../../../../../resources/scss/variables';

.view-exercise {
  display: flex;
  min-height: 100vh;
}

.view-exercise-language {
  margin-left: auto;
  padding: .25rem;
}

.view-exercise-code {
  font-size: 75%;
}

.view-exercise-edition {
  width: calc(100% - 250px);
}

.view-exercise-sentences {
  margin-bottom: 15px;

  ul {
    height: auto;
    margin: 0;
    padding: 0;
  }
}

.exercise-flag {
  height: auto;
  width: 25px;
}

.exercise-remove,
.exercise-move,
.exercise-copy {
  color: map-get(mat.$m2-grey-palette, 300);
  float: right;

  &:hover {
    cursor: pointer;
    color: map-get(mat.$m2-green-palette, 400);
  }
}

.exercise-move:hover {
  cursor: move;
}

.exercise-sentences-empty {
  background: white;
  font-size: 2rem;
  line-height: 1.454;
  font-weight: 100;
  padding: 100px 0;
  text-align: center;
  width: 100%;
}
