<div class="view view-exercise">
    <app-pane width="250px">
        <div class="pane-head">
            Exercices
        </div>
        <div class="pane-controls">
            <button (click)="newExercise()" matTooltip="Nouvel exercice">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button (click)="loadExercise()" matTooltip="Récupérer un exercice">
                <mat-icon>cloud_download</mat-icon>
            </button>
            <div class="view-exercise-language language-selector">
                <mat-form-field floatLabel="always">
                    <mat-label>Langue</mat-label>
                    <mat-select placeholder="Toutes les langues" [(ngModel)]="language">
                        <mat-option [value]="null">Toutes les langues</mat-option>
                        <mat-option [value]="language.Code" *ngFor="let language of languages$ | async">
                            <div class="language-line">
                                <app-flag [file]="language.Flag"></app-flag>
                                {{ language.Name }}
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <app-loading-spinner app-loading-control key="exercises"></app-loading-spinner>
        <ul app-loading-control key="exercises" [reverse]="true">
            <ng-container *ngFor="let ex of exercises$ | async">
                <li *ngIf="!language || ex.Language === language">
                    <button (click)="select(ex)" [ngClass]="{'is-selected': ex.Id == exercise?.Id}">
                        {{ ex.Name }}
                        <span matTooltip="Entrez ce code sur un autre poste pour charger l'exercice"
                              *ngIf="!ex.IsLocked && ex.Code" class="view-exercise-code">
                                {{ ex.Code }}
                            </span>
                    </button>
                </li>
            </ng-container>
        </ul>
    </app-pane>
    <div class="view-exercise-edition">
        <div class="view-exercise-sentences view-content">
            <app-toolbar *ngIf="exercise">
                <ng-container title>
                    <img class="exercise-flag" src="/assets/images/flags/{{exerciseLanguage?.Flag}}"/>
                    {{ exercise.Name }}&nbsp;
                    <small>code: {{ exercise.Code }}</small>
                </ng-container>
                <ng-container controls>
                    <button (click)="editExercise()" matTooltip="Editer les propriétés de l'exercice">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="addSentence()" matTooltip="Nouvelle phrase">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                    <button (click)="remove()" matTooltip="Supprimer cet exercice">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button (click)="pasteSentence()" *ngIf="canPaste()" matTooltip="Ajouter la phrase copiée">
                        <mat-icon>save_alt</mat-icon>
                    </button>
                    <button (click)="showLeaderboard()" matTooltip="Gérer le classement">
                        <mat-icon>show_chart</mat-icon>
                    </button>
                </ng-container>
            </app-toolbar>
            <app-loading-spinner app-loading-control key="exercise"></app-loading-spinner>
            <div app-loading-control key="exercise" [reverse]="true">
                <div class="exercise-sentences-empty" *ngIf="exercise?.Sentences?.length == 0">
                    Il n'y a aucune phrase dans cet exercice.
                </div>
                <div *ngIf="exercise?.Sentences.length > 0">
                    <ul class="list-styled" dragula="first-bag"
                        [(dragulaModel)]="exercise.Sentences">
                        <li *ngFor="let sentence of exercise.Sentences">
                            <a [routerLink]="['sentence', {index: exercise.Sentences.indexOf(sentence)}]">{{ sentence.Name }}</a>
                            <mat-icon class="exercise-copy" (click)="copySentence(sentence)">file_copy</mat-icon>
                            <mat-icon class="exercise-remove"
                                      (click)="removeSentence(sentence)">delete
                            </mat-icon>
                            <mat-icon class="exercise-move handle">
                                drag_handle
                            </mat-icon>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
